node_modules
.DS_Store
.idea
lib/core/metadata.js
lib/core/MetadataBlog.js
website/translated_docs
website/build/
website/community-repos.json
website/yarn.lock
website/node_modules
v2-website/translated_docs
v2-website/build/
v2-website/community-repos.json
v2-website/yarn.lock
v2-website/node_modules
v2-website/i18n/*

!website/i18n/en.json

.nvmrc
.docusaurus
